<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="verbose-log" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="api-endpoint" value="http://test.aimsinnovation.com/api/"/>
    <add key="environment-id" value="01cf60ae-0551-41d0-a5e2-103bb8cdd780"/>
    <add key="token" value="BggLfJivnndiV0KtmLfJbvq4TZyzPnsk"/>
    <add key="verbose-log" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>