<?xml version='1.0' encoding='utf-8'?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion="!(bind.fileVersion.IisAgentExe)"?>
  <Product Name='AIMS IIS Agent $(var.ProductVersion)' Id='1A1989A9-E118-4CD8-B34A-7235E4774A75' UpgradeCode='D28475BE-CEC6-41EA-8E83-BE222D330D3D'
      Language='1033' Codepage='1252' Version="$(var.ProductVersion)" Manufacturer='AIMS Innovation'>
    <Package Id='*' Keywords='Installer'
        Description="AIMS IIS Agent $(var.ProductVersion) Installer"
        Manufacturer='AIMS Innovation'
        InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252'
        AdminImage="yes" InstallScope="perMachine" 
        />

    <Media Id='1' Cabinet='Main.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="AIMS IIS Agent $(var.ProductVersion) Installation [1]" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="AIMS_AGENT_ID" Secure="yes" Value="aims.iis" />
    <Property Id="AIMS_AGENT_VERSION" Secure="yes" Value="v1.2" />
    <Property Id="AIMS_SERVICE_ACCOUNT_VALID" Secure="yes" />
    <Property Id="AIMS_SERVICE_USER" Secure="yes" />
    <Property Id="AIMS_SERVICE_PASSWORD" Secure="yes" />
    <Property Id="AIMS_EMAIL" Secure="yes" />
    <Property Id="AIMS_PASSWORD" Secure="yes" />
    <?if $(var.Configuration) = Release ?>
      <?define AimsApiEndpoint="https://api.aimsinnovation.com"?>
    <?elseif $(var.Configuration) = ReleaseUs ?>
      <?define AimsApiEndpoint="https://api-us.aimsinnovation.com"?>
    <?else?>
      <?define AimsApiEndpoint="https://beta-api.aimsinnovation.com"?>
    <?endif?>
    <?warning Building for $(var.AimsApiEndpoint)?>
    <Property Id="AIMS_API_ENDPOINT" Secure="yes" Value="$(var.AimsApiEndpoint)">
      <RegistrySearch Id="ApiEndpointRegistrySearch" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]"
                      Name="ApiEndpoint" Type="raw" />
    </Property>
    <Property Id="AIMS_API_TOKEN" Secure="yes">
      <RegistrySearch Id="ApiTokenRegistrySearch" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]"
          Name="ApiToken" Type="raw" />
    </Property>
    <Property Id="AIMS_ENVIRONMENT" Secure="yes" />
    <Property Id="AIMS_ENVIRONMENT_ID" Secure="yes" />
    <Property Id="AIMS_ENVIRONMENT_NAME" Secure="yes" />
    <Property Id="AIMS_SYSTEM" Secure="yes" />
    <Property Id="AIMS_SYSTEM_ID" Secure="yes" />
    <Property Id="AIMS_SYSTEM_NAME" Secure="yes" />
    <Property Id="AIMS_API_ERROR" Secure="yes" />
    <Property Id="AIMS_API_ERROR_LOG" Secure="yes" />
    <Property Id="AIMS_ERROR" Secure="yes" />
    <Property Id="AIMS_PATHS_MULTILINE" Secure="yes" />
    <Property Id="AIMS_PATHS_VALID" Secure="yes" />
    <Property Id="DEBUG_CUSTOM_LOG" />

    <EnsureTable Id="ListBox" />

    <Binary Id="Aims.Sdk.Installer.Actions.dll"
        SourceFile="$(var.Aims.Sdk.Installer.Actions.TargetDir)\$(var.Aims.Sdk.Installer.Actions.TargetName).CA.dll" />

    <CustomAction Id="ReadEnvironments" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ReadEnvironments" Execute="immediate" Return="check" />
    <CustomAction Id="ReadSystems" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ReadSystems" Execute="immediate" Return="check" />
    <CustomAction Id="SaveEnvironment" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="SaveEnvironment" Execute="immediate" Return="check" />
    <CustomAction Id="SaveSystem" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="SaveSystem" Execute="immediate" Return="check" />
    <CustomAction Id="ValidateServiceAccount" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ValidateServiceAccount" Execute="immediate" Return="check" />
    <CustomAction Id="GetToken" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="GetToken" Execute="immediate" Return="check" />
    <CustomAction Id="DeleteToken" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="DeleteToken" Execute="immediate" Return="check" />
    <CustomAction Id="UpdateConfig" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="UpdateConfig" Execute="immediate" Return="check" />

    <Property Id="AimsModuleName" Value="AimsIisAgentModule"/>
    <Property Id="AimsModuleVersion" Value="Aims.IISAgent.Module.AimsIisModule, Aims.IISAgent.Module, Version=$(var.ProductVersion), Culture=neutral, PublicKeyToken=671f7217e3d88943"/>
    <CustomAction Id="RegisterModule" Directory="TARGETDIR"
                  ExeCommand="&quot;[SystemFolder]inetsrv\appcmd&quot; add module /name:[AimsModuleName] /type:&quot;[AimsModuleVersion]&quot;"
                  Execute="deferred" Impersonate="no" Return="check" />
    <CustomAction Id="RemoveModule" Directory="TARGETDIR"
                  ExeCommand="&quot;[SystemFolder]inetsrv\appcmd&quot; delete module /module.name:[AimsModuleName]"
                  Execute="deferred" Impersonate="no" Return="check" />

    <CustomAction Id="SetVersionCustomData" Return="check"
                  Property="RegisterIisModule" Value="$(var.ProductVersion)" />
    <CustomAction Id="ValidateSslCertTimeOptions" BinaryKey="Aims.Sdk.Installer.Actions.dll"
                  DllEntry="ValidateSslCertTimeOptions" Execute="immediate" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="SetVersionCustomData" After="InstallFiles">NOT INSTALLED AND NOT REMOVE</Custom>
      <Custom Action="GetToken" After="InstallFiles">NOT INSTALLED AND NOT REMOVE</Custom>
      <Custom Action="DeleteToken" Before="InstallFiles">REMOVE~="ALL"</Custom>
      <Custom Action="RegisterModule" Before="InstallFinalize">NOT INSTALLED AND NOT REMOVE</Custom>
      <Custom Action="RemoveModule" Before="InstallFiles">REMOVE~="ALL"</Custom>
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id="IGNOREME" Name="Windows">
        <Directory Id="IGNOREME2" Name="system32">
          <Directory Id="TARGET_IIS_DIR" Name="inetsrv">
          </Directory>
        </Directory>
      </Directory>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='AIMS_Innovation' Name='AIMS Innovation'>
          <Directory Id='INSTALLDIR' Name='IIS Agent $(var.ProductVersion)'>
            <!--unicode??????? ????????? ??????????-->
            <Directory Id='GAC' Name='gac'>
              <Component Id='GacModule' Guid='E41F5915-A1AB-4C74-9A04-5159F6C7B61B' DiskId='1'>
                <File Id='IisAgentModule' Name='Aims.IISAgent.Module.dll' DiskId='1'
                      Source='$(var.Aims.IISAgent.Module.TargetPath)/../Aims.IISAgent.Module.dll'
                      KeyPath='yes' Assembly='.net' />
              </Component>
            </Directory>
            <Component Id='MainExecutable' Guid='DB12F524-9D55-4800-A1AD-8A7C718F16F6'>
              <File Id='IisAgentExe' Name='aims-iis-agent.exe' DiskId='1'
                  Source='$(var.Aims.IISAgent.TargetPath)' KeyPath='yes' />
              <File Id='IisAgentExeConfig' Name='aims-iis-agent.exe.config' DiskId='1'
                  Source='$(var.Aims.IISAgent.TargetPath).config' />
              <File Id='MicrosoftWebAdministration' Name='microsoft.web.administration.dll' DiskId='1'
                  Source='$(var.Aims.IISAgent.TargetPath)' />
              <util:XmlFile Id="IisAgentExeConfigSetSetting1" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="1"
                  ElementPath="//appSettings/add[\[]@key='api-endpoint'[\]]" Value="[AIMS_API_ENDPOINT]/api/" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting2" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="2"
                  ElementPath="//appSettings/add[\[]@key='environment-id'[\]]" Value="[AIMS_ENVIRONMENT_ID]" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting3" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="3"
                  ElementPath="//appSettings/add[\[]@key='token'[\]]" Value="[AIMS_API_TOKEN]" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting4" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="4"
                  ElementPath="//appSettings/add[\[]@key='ssl-cert-warning-first'[\]]" Value="[AIMS_SSL_CERT_FIRST_WARNING]" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting5" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="5"
                  ElementPath="//appSettings/add[\[]@key='ssl-cert-warning-second'[\]]" Value="[AIMS_SSL_CERT_SECOND_WARNING]" />
              <File Id='AimsSdkDll' Name='Aims.Sdk.dll' DiskId='1'
                  Source='$(var.Aims.IISAgent.TargetDir)\Aims.Sdk.dll' />
              <File Id='NewtonsoftJsonDll' Name='Newtonsoft.Json.dll' DiskId='1'
                  Source='$(var.Aims.IISAgent.TargetDir)\Newtonsoft.Json.dll' />
              <File Id='log4netDll' Name='log4net.dll' DiskId='1'
                    Source='$(var.Aims.IISAgent.TargetDir)\log4net.dll' />
              <File Id='log4netXml' Name='log4net.xml' DiskId='1'
                    Source='$(var.Aims.IISAgent.TargetDir)\log4net.xml' />
              <RegistryValue Id='ApiTokenRegistryValue' Root='HKLM' Key='Software\[Manufacturer]\[ProductName]'
                             Name='ApiToken' Value='[AIMS_API_TOKEN]' Type='string' />
              <RegistryValue Id='ApiEndpointRegistryValue' Root='HKLM' Key='Software\[Manufacturer]\[ProductName]'
                  Name='ApiEndpoint' Value='[AIMS_API_ENDPOINT]' Type='string' />
              <ServiceInstall Id="IisAgentServiceInstaller" Type="ownProcess"
                  Name="aims-iis-agent" DisplayName="AIMS Internet Information Services Agent"
                  Start="auto" Account="[AIMS_SERVICE_USER]" Password="[AIMS_SERVICE_PASSWORD]"
                  ErrorControl="normal" Vital="yes" />
              <ServiceControl Id="IisAgentServiceStart" Name="aims-iis-agent"
                  Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='AIMS IIS Agent $(var.ProductVersion)' Description='The complete package.'
        Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
        <ComponentRef Id='GacModule' />
      </Feature>
    </Feature>

    <UIRef Id="InstallUI" />
  </Product>
</Wix>