<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Product Name='Internet Information Services Agent 1.0' Id='0355CDE7-EAAB-4DE9-A7CC-08E708B5A975' UpgradeCode='9489E3C4-00D0-421F-9776-516FC262A963'
      Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='AIMS Innovation'>
    <Package Id='*' Keywords='Installer'
        Description="Internet Information Services Agent 1.0 Installer"
        Manufacturer='AIMS Innovation'
        InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Media Id='1' Cabinet='Main.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Internet Information Services Agent 1.0 Installation [1]" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />

    <Property Id="AIMS_AGENT_ID" Secure="yes" Value="aims.iis" />
    <Property Id="AIMS_AGENT_VERSION" Secure="yes" Value="v1.0" />
    <Property Id="AIMS_SERVICE_ACCOUNT_VALID" Secure="yes" />
    <Property Id="AIMS_SERVICE_USER" Secure="yes" />
    <Property Id="AIMS_SERVICE_PASSWORD" Secure="yes" />
    <Property Id="AIMS_EMAIL" Secure="yes" />
    <Property Id="AIMS_PASSWORD" Secure="yes" />
    <Property Id="AIMS_API_ENDPOINT" Secure="yes" Value="https://api.aimsinnovation.com">
      <RegistrySearch Id="ApiEndpointRegistrySearch" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]"
          Name="ApiEndpoint" Type="raw" />
    </Property>
    <Property Id="AIMS_API_TOKEN" Secure="yes">
      <RegistrySearch Id="ApiTokenRegistrySearch" Root="HKLM" Key="Software\[Manufacturer]\[ProductName]"
          Name="ApiToken" Type="raw" />
    </Property>
    <Property Id="AIMS_ENVIRONMENT" Secure="yes" />
    <Property Id="AIMS_ENVIRONMENT_ID" Secure="yes" />
    <Property Id="AIMS_ENVIRONMENT_NAME" Secure="yes" />
    <Property Id="AIMS_SYSTEM" Secure="yes" />
    <Property Id="AIMS_SYSTEM_ID" Secure="yes" />
    <Property Id="AIMS_SYSTEM_NAME" Secure="yes" />
    <Property Id="AIMS_API_ERROR" Secure="yes" />
    <Property Id="AIMS_ERROR" Secure="yes" />
    <Property Id="AIMS_PATHS_MULTILINE" Secure="yes" />
    <Property Id="AIMS_PATHS_VALID" Secure="yes" />

    <EnsureTable Id="ListBox" />

    <Binary Id="Aims.Sdk.Installer.Actions.dll"
        SourceFile="$(var.Aims.Sdk.Installer.Actions.TargetDir)\$(var.Aims.Sdk.Installer.Actions.TargetName).CA.dll" />

    <CustomAction Id="ReadEnvironments" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ReadEnvironments" Execute="immediate" Return="check" />
    <CustomAction Id="ReadSystems" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ReadSystems" Execute="immediate" Return="check" />
    <CustomAction Id="SaveEnvironment" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="SaveEnvironment" Execute="immediate" Return="check" />
    <CustomAction Id="SaveSystem" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="SaveSystem" Execute="immediate" Return="check" />
    <CustomAction Id="ValidateServiceAccount" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="ValidateServiceAccount" Execute="immediate" Return="check" />
    <CustomAction Id="GetToken" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="GetToken" Execute="immediate" Return="check" />
    <CustomAction Id="DeleteToken" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="DeleteToken" Execute="immediate" Return="check" />
    <CustomAction Id="UpdateConfig" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="UpdateConfig" Execute="immediate" Return="check" />
    <CustomAction Id="InstallService" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="InstallService" Execute="immediate" Return="check" />
    <CustomAction Id="UninstallService" BinaryKey="Aims.Sdk.Installer.Actions.dll"
        DllEntry="UninstallService" Execute="immediate" Return="check" />

    <InstallExecuteSequence>
      <Custom Action="GetToken" After="InstallFiles">NOT INSTALLED AND NOT REMOVE</Custom>
      <Custom Action="DeleteToken" Before="InstallFiles">REMOVE~="ALL"</Custom>
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='AIMS Innovation' Name='AIMS Innovation'>
          <Directory Id='INSTALLDIR' Name='Internet Information Services Agent 1.0'>
            <Component Id='MainExecutable' Guid='0B093C66-C126-4DCC-BFF3-B64161A7E2F9'>
              <File Id='IisAgentExe' Name='aims-iis-agent.exe' DiskId='1'
                  Source='$(var.Aims.IisAgent.TargetPath)' KeyPath='yes' />
              <File Id='IisAgentExeConfig' Name='aims-iis-agent.exe.config' DiskId='1'
                  Source='$(var.Aims.IisAgent.TargetPath).config' />
              <util:XmlFile Id="IisAgentExeConfigSetSetting1" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="1"
                  ElementPath="//appSettings/add[\[]@key='api-endpoint'[\]]" Value="[AIMS_API_ENDPOINT]/api/" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting2" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="2"
                  ElementPath="//appSettings/add[\[]@key='environment-id'[\]]" Value="[AIMS_ENVIRONMENT_ID]" />
              <util:XmlFile Id="IisAgentExeConfigSetSetting3" File="[#IisAgentExeConfig]"
                  Action="setValue" Name="value" SelectionLanguage="XPath" Permanent="yes" Sequence="3"
                  ElementPath="//appSettings/add[\[]@key='token'[\]]" Value="[AIMS_API_TOKEN]" />
              <File Id='AimsSdkDll' Name='Aims.Sdk.dll' DiskId='1'
                  Source='$(var.Aims.IisAgent.TargetDir)\Aims.Sdk.dll' />
              <File Id='NewtonsoftJsonDll' Name='Newtonsoft.Json.dll' DiskId='1'
                  Source='$(var.Aims.IisAgent.TargetDir)\Newtonsoft.Json.dll' />
              <RegistryValue Id='ApiTokenRegistryValue' Root='HKLM' Key='Software\[Manufacturer]\[ProductName]'
                  Name='ApiToken' Value='[AIMS_API_TOKEN]' Type='string' />
              <RegistryValue Id='ApiEndpointRegistryValue' Root='HKLM' Key='Software\[Manufacturer]\[ProductName]'
                  Name='ApiEndpoint' Value='[AIMS_API_ENDPOINT]' Type='string' />
              <ServiceInstall Id="IisAgentServiceInstaller" Type="ownProcess"
                  Name="aims-iis-agent" DisplayName="AIMS Internet Information Services Agent"
                  Start="auto" Account="[AIMS_SERVICE_USER]" Password="[AIMS_SERVICE_PASSWORD]"
                  ErrorControl="normal" Vital="yes" />
              <ServiceControl Id="IisAgentServiceStart" Name="aims-iis-agent"
                  Start="install" Stop="uninstall" Remove="uninstall" Wait="yes" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id='Complete' Title='Internet Information Services Agent 1.0' Description='The complete package.'
        Display='expand' Level='1' ConfigurableDirectory='INSTALLDIR'>
      <Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
        <ComponentRef Id='MainExecutable' />
      </Feature>
    </Feature>

    <UIRef Id="InstallUI" />
  </Product>
</Wix>